@media (max-width: 920px) {
    nav {
        width: 80%;
    }

    nav ul {
        width: 100%;
        justify-content: space-between;
    }

    nav ul li:first-of-type {
        margin-right: auto;
        margin-left: 40%;
    }

    footer ul {
        flex-direction: column;
        gap: 30px;
    }

    .txt-hero h1 {
        font-size: 40px;
    }

    .txt h2 {
        font-size: 35px;
    }

    .img-hero {
        transform: scale(1.3);
        transition: 300ms;
    }
}

@media (max-width:1024px) {
    .txt-hero h1 {
        font-size: 50px;
    }

    .txt h2 {
        font-size: 40px;
    }

    .img-hero {
        transform: scale(1.3);
        transition: 300ms;
    }
}

@media (max-width:574px) {

    #header-icon {
        width: 50px;
    }

    nav ul {
        width: 100%;
        justify-content: space-between;
        gap: 2em;
    }

    nav ul li:first-of-type {
        margin-right: auto;
        margin-left: 0;
    }

    .img-hero {
        display: none;
    }
}